$large-breakpoint: 1600px

footer#document-footer
    .logo
        display: table
    > .container:first-child
        padding-top: pxToRem(220)
        padding-bottom: 0
        justify-content: center
        margin-bottom: pxToRem(-18)
        @include media-breakpoint-up(desktop)
            + .container
                display: flex
                padding-top: $spacing-6
    .footer-legals
        order: 2
        @include media-breakpoint-up(desktop)

            @media screen and (min-width: $large-breakpoint)
                align-items: center
                display: flex
                gap: space(2)
                justify-content: space-between
                ul
                    display: inline
                    li
                        display: inline
                    li + li
                        margin-top: 0
                        margin-left: space()
            @media screen and (max-width: $large-breakpoint)
                ul li
                    text-align: right
    .footer-credit
        margin-top: $spacing-2
        @media screen and (min-width: $large-breakpoint)
            margin-top: 0
    .footer-social
        ul
            @media screen and (max-width: $large-breakpoint)
                li
                    text-align: left
            @media screen and (min-width: $large-breakpoint)
                display: flex
                flex-wrap: wrap
                align-items: baseline
                justify-content: flex-end
                li
                    &:not(:first-child)
                        margin-left: space()
                        &::before
                            content: '|'