.hero
    text-align: center
    @include media-breakpoint-up(desktop)
        .content
            display: flex
            align-items: center
            justify-content: center
        .has-lead
            max-width: columns(10)
        .taxonomies-single.without-label
            margin-top: 0
            margin-bottom: 0

.projects__section, .posts__section
    .hero
        h1
            @include h2