.logo
    position: relative
    img
        display: block
        opacity: 0
    svg
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        right: 0
        width: 100%
        height: auto
        path
            --translate-y: 0%
            &:nth-child(3n)
                --translate-y: 35%
            &:nth-child(3n + 1)
                --translate-y: -35%

    &.is-animated
        $delay: 0.03
        img
            opacity: 0
        svg
            path
                animation: translateY 0.7s forwards cubic-bezier(0.46,0.03,0.52,0.96)
                @for $i from 1 through 8
                    &:nth-child(8n + #{$i})
                        animation-delay: #{$delay * $i}s

        &.reversed
            svg
                path
                    @for $i from 1 through 8
                        &:nth-child(8n + #{$i})
                            animation-delay: #{$delay * (8 - $i)}s
        //             &:nth-child(42), &:nth-child(3)
        //                 animation-delay: #{$delay*4}s
        //             &:nth-child(4), &:nth-child(5)
        //                 animation-delay: #{$delay*3}s
        //             &:nth-child(6), &:nth-child(8)
        //                 animation-delay: #{$delay*2}s
        //             &:nth-child(9), &:nth-child(10)
        //                 animation-delay: #{$delay}s
        //             &:nth-child(12), &:nth-child(13)
        //                 animation-delay: 0s
        // img
        //     opacity: 0
    // &:not(:hover)
    //     animation: vibration .25s cubic-bezier(0.075, 0.820, 0.065, 1.000)

// @keyframes translateY
//     0%
//         transform: translateY(0)
//     15%
//         transform: translateY(calc(var(--translate-y)))
//     35%
//         transform: translateY(calc(var(--translate-y) * -0.2))
//     55%
//         transform: translateY(calc(var(--translate-y) * 0.2))
//     100%
//         transform: translateY(0)

@keyframes translateY
    0%
        transform: translateY(0)
    50%
        transform: translateY(calc(var(--translate-y)))
    100%
        transform: translateY(0)
