.categorie-item
    border: 1px solid var(--color-border)
    border-radius: pxToRem(50)
    color: inherit
    padding: pxToRem(2) $spacing-2
    text-decoration: none
    transition: 0.3s
    &:hover
        background-color: var(--color-text)
        color: var(--color-background)

.taxonomies-single,
.project .project-categories
    li
        a
            @extend .categorie-item

.project .project-categories
    margin-top: $spacing-3
    row-gap: $spacing-2

.posts__section,
.projects__section
    .taxonomies-list
        margin-top: 0
        button
            @extend .sr-only
        .extendable
            background: none
            display: block
            position: relative
            top: unset
            right: unset
            left: unset
            ul
                display: flex
                gap: $spacing-2
                flex-wrap: wrap
                li
                    &:not(:first-child)
                        border: none
                    a
                        @include body-text
                        @extend .categorie-item
            @include media-breakpoint-down(desktop)
                overflow: auto
                padding-bottom: $spacing-1
                margin-left: var(--grid-gutter-negative)
                margin-right: var(--grid-gutter-negative)
                padding-left: var(--grid-gutter)
                padding-right: var(--grid-gutter)
                ul
                    flex-wrap: nowrap
                    li
                        a
                            white-space: nowrap