.page__home
    .hero
        padding-bottom: var(--block-space-y)
        margin-bottom: 0
        h1
            em:not(:first-child)
                display: block
                font-weight: normal
                font-style: normal
            + p
                margin-top: $spacing-5
        .has-lead
            position: relative
            &::after
                content: ''
                display: block
                background-color: var(--color-text)
                height: 3px
                margin-left: auto
                margin-right: auto
                margin-top: $spacing-5
                width: var(--grid-gutter)
    @include media-breakpoint-up(desktop)
        .block:first-child.block-persons--grid
            padding-top: $spacing-3
        .block-persons--grid
            background: var(--color-background-alt)
            padding-bottom: var(--block-space-y)
            .persons
                display: flex
                flex-wrap: wrap
                justify-content: center
                .person
                    width: columns(3)
                    padding-left: $spacing-3
                    padding-right: $spacing-3
        .block-projects--grid
            .container
                padding-left: 0
                padding-right: 0
                width: unset
            .projects--grid
                display: flex
                overflow: auto
                padding-left: var(--grid-gutter)
                padding-right: var(--grid-gutter)
                padding-bottom: $spacing-3
                scrollbar-width: none
                &::-webkit-scrollbar
                    display: none
                .project
                    width: columns(5)
                    flex: none
    .heading
        h2
            @include h5
    .block-projects + .block-call_to_action--no_background
        .block-content
            padding-bottom: $spacing-3
            padding-top: 0
            .call_to_action--without-text
                .actions a:first-child
                    margin-top: 0
    .block-definitions
        .definitions
            @include media-breakpoint-up(desktop)
                width: columns(8)
            details
                summary
                    @include h3
                    padding-top: $spacing-3
                    padding-bottom: $spacing-3
                    &::after
                        content: '+'
                        font-family: inherit
                p
                    b
                        @include lead
                @include media-breakpoint-up(desktop)
                    &:hover 
                        summary::after
                            transform: scale(0.9)
                &[open]
                    summary::after
                        transform: rotate(135deg)
                    &:hover
                        summary::after
                            transform: rotate(135deg)
                            @include media-breakpoint-up(desktop)
                                transform: scale(0.9) rotate(135deg)
                &:first-child summary
                    padding-top: 0
                @include media-breakpoint-down(desktop)
                    &:not([open]):hover 
                        summary::after
                            transform: none
        @include media-breakpoint-up(desktop)
            .block-content
                display: flex
                gap: var(--grid-gutter)
                .top
                    width: columns(4)
                    .block-title
                        @include h5

    &.full-width
        .block-definitions
            .definitions
                @include media-breakpoint-up(desktop)
                    details p
                        padding-left: 0
                        margin-left: 0