.posts__page
    .hero
        .posts-taxonomies
            width: 100%
            .taxonomy-children
                justify-content: center
                width: 100%
    .post-infos
        li
            > span:first-child
                font-weight: bold

// list appareance
.posts--list,
.block-posts--list
    @include in-page-without-sidebar
        article
            padding-bottom: $spacing-3
            + article
                margin-top: $spacing-3
            .post-meta
                padding-top: 0
            .post-content
                .post-title
                    max-width: columns(10)
                    width: columns(10)
                    + [itemprop="abstract"]
                        margin-top: $spacing-3
                        max-width: columns(8)
                        width: columns(8)