.projects__section
    .projects--grid
        @include grid(3, desktop)
        .project-title
            @include h4
            font-weight: normal
            + [itemprop="abstract"]
                margin-top: $spacing-2
    .project-categories
        a
            text-decoration: none
            color: var(--color-text)
    .document-content
        display: flex
        flex-direction: column
        .blocks
            margin-top: $spacing-6
            order: 2
        > .container
            margin-top: 0
    @include media-breakpoint-down(desktop)
        .has-breadcrumb-hero-start
            margin-bottom: 0

.projects__page
    .hero
        padding-bottom: 0
        .content
            flex-direction: column
            align-items: center
            .hero-text
                align-items: center
                width: auto
                .project-infos
                    justify-content: center
            .year
                @include h1
                font-weight: normal
        .taxonomies-single.without-label
            margin-top: 0
    @include media-breakpoint-up(desktop)
        .hero
            figure
                position: relative
                &::after
                    content: ''
                    background: white
                    display: block
                    position: absolute
                    width: 100vw
                    height: 100%
                    top: 0
                    left: 50%
                    transform: translateX(-50%)
                    z-index: 0
                img
                    position: relative
                    z-index: 2
                figcaption
                    .credit,
                    &:before
                        background-color: transparent
    // BLOCKS
    .block-summary
        margin-right: auto
        margin-left: auto
        &::after
            content: ''
            display: block
            background-color: var(--color-text)
            height: 3px
            margin-left: auto
            margin-right: auto
            margin-top: $spacing-5
            width: var(--grid-gutter)
        @include media-breakpoint-up(desktop)
            text-align: center
            width: columns(10)
            p
                font-size: $lead-sidebar-size-desktop
                font-size: $lead-sidebar-line-height-desktop
    .blocks
        margin-top: $spacing-6
    &.full-width
        @include media-breakpoint-up(desktop)
            .block-chapter
                .rich-text
                    width: columns(8)
                &.block-titled
                    .chapter
                        .text
                            display: flex
                            gap: var(--grid-gutter)
                            width: 100%
                        .top
                            width: columns(4)
                            .block-title
                                @include h5
                &:not(.block-titled)
                    .rich-text
                        margin-left: offset(4)
            .block-image
                &.image-landscape
                    .block-content
                        margin-left: offset(4)

.project
    time
        color: var(--color-text)
